openapi: '3.0.1'
info:
  title: IKEA API
  version: v1
  description: |
    API для работы с данными IKEA парсера.
    
    ## Аутентификация
    Большинство эндпоинтов для получения данных (товары, категории, главная страница) являются **публичными** и не требуют токена.
    
     JWT токен в заголовке `Authorization: Bearer <token>` требуется только для действий, связанных с пользователем (отзывы, личный кабинет).
    
    ## Верификация паспортных данных
    Процесс верификации паспортных данных включает следующие этапы:
    1. **Запрос звонка:** `POST /api/v1/a1/request` — пользователь получает `verification_id`.
    2. **Сохранение с подтверждением:** `PATCH /api/v1/account/profile` с полями `passport`, `verification_id` и `code` (последние 4 цифры входящего номера). Паспорт сохраняется в БД только при верном коде; при неверном коде данные не записываются.
    3. **Проверка статуса:** `GET /api/v1/account/profile` — поле `passport_verified`.
    4. **Верификация при оформлении заказа:** `POST /api/v1/checkout` — при изменении паспорта в заказе требуется подтверждение через A1 (см. параметры checkout).
    
    **Публичные эндпоинты (Без токена):**
    - `GET /api/v1/products` — Список товаров
    - `GET /api/v1/products/{sku}` — Карточка товара
    - `GET /api/v1/products/{product_sku}/reviews` — Отзывы товара (пагинация, фильтры, агрегаты)
    - `GET /api/v1/products/bestsellers` — Бестселлеры
    - `GET /api/v1/products/popular` — Популярные товары
    - `GET /api/v1/products/categories` — Категории по коллекции
    - `GET /api/v1/categories` — Категории
    - `GET /api/v1/categories/top` — Категории для верхнего меню
    - `GET /api/v1/categories/{id}/products` — Товары в категории
    - `GET /api/v1/homepage/slider/main` — Слайдер на главной
    - `GET /api/v1/homepage/recommendations` — Рекомендации товаров для главной страницы
    - `POST /api/v1/auth/login` — Вход (только для админов/менеджеров)
    - `POST /api/v1/auth/phone/check` — Проверка, существует ли номер телефона в базе
    - `POST /api/v1/auth/phone/send` — Запрос звонка для входа/регистрации
    - `POST /api/v1/auth/phone/verify` — Подтверждение кода из звонка (вход/регистрация)
    - `GET /api/v1/favorites` — Список избранного (поддержка гостевых токенов)
    - `POST /api/v1/favorites` — Добавление в избранное (поддержка гостевых токенов)
    
    **Приватные эндпоинты (Требуется Bearer Token):**
    - `POST /api/v1/products/{sku}/reviews` — Оставить отзыв
    - `GET /api/v1/account/reviews` — Мои отзывы
    - `PATCH/DELETE /api/v1/reviews/{id}` — Управление своими отзывами
    - `GET /api/v1/account/returns` — Список заявок на возврат
    - `POST /api/v1/account/returns` — Создать заявку на возврат по заказу
    
    **Избранное (Favorites):**
    - `GET /api/v1/favorites` — Список избранного
    - `POST /api/v1/favorites` — Добавить в избранное
    - `DELETE /api/v1/favorites/{sku}` — Удалить из избранного
    
    Получить токен можно через `/api/v1/auth/login`


servers:
  - url: https://ikeya.by
    description: Production server (IP)
  - url: http://localhost:3000
    description: Development server

paths:
  /api/v1/products:
    get:
      summary: Список товаров
      tags:
        - Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
        - name: category_id
          in: query
          schema:
            type: string
        - name: is_bestseller
          in: query
          schema:
            type: boolean
        - name: is_popular
          in: query
          schema:
            type: boolean
        - name: sort
          in: query
          description: |
            Сортировка товаров:
            - `rating` — по рейтингу
            - `cheapest` — сначала более дешёвые
            - `expensive` — сначала более дорогие
          schema:
            type: string
            enum: [rating, cheapest, expensive]
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Список товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /api/v1/products/{sku}:
    get:
      summary: Получить товар по SKU
      tags:
        - Products
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Данные товара в подробной форме, включая breadcrumbs, если они доступны
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
        '404':
          description: Товар не найден

  /api/v1/products/bestsellers:
    get:
      summary: Хиты продаж
      tags:
        - Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Список хитов продаж
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'

  /api/v1/products/new_arrivals:
    get:
      summary: Новинки
      tags:
        - Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Список новинок
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'

  /api/v1/products/recommended:
    get:
      summary: Рекомендованные товары
      tags:
        - Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Список рекомендованных товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'

  /api/v1/products/popular:
    get:
      summary: Популярные товары
      tags:
        - Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Список популярных товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'

  /api/v1/products/categories:
    get:
      summary: Получить список категорий по названию коллекции (временно не используется)
      deprecated: true
      tags:
        - Products
      parameters:
        - name: collection
          in: query
          required: true
          description: Название коллекции (например, MALM)
          schema:
            type: string
      responses:
        '200':
          description: Список категорий
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '400':
          description: Ошибка в параметрах (отсутствует collection)

  /api/v1/categories:
    get:
      summary: Список категорий
      tags:
        - Categories
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
        - name: is_popular
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Список категорий
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /api/v1/categories/top:
    get:
      summary: Категории для верхнего меню (хедер)
      tags:
        - Categories
      responses:
        '200':
          description: Список категорий для верхнего меню
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  /api/v1/categories/{id}:
    get:
      summary: Получить категорию по ID
      tags:
        - Categories
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Данные категории
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Category'

  /api/v1/categories/{id}/products:
    get:
      summary: Список товаров в категории
      tags:
        - Categories
      description: |
        Возвращает товары категории и метаданные с доступными фильтрами.

        ## Как фильтровать
        1) Получите категорию и её `available_filters` (из `GET /api/v1/categories` или `GET /api/v1/categories/{id}`).
        2) Отправляйте выбранные значения в query через `filters[PARAMETER][]=VALUE_ID`.

        - `PARAMETER` — это `available_filters[].parameter`
        - `VALUE_ID` — это `available_filters[].values[].id`

        ## Пример
        `/api/v1/categories/700403/products?filters[f-type][]=50310&filters[f-price-buckets][]=PRICE_19900_19901`

        ## Логика
        - между разными параметрами фильтров используется AND
        - внутри одного параметра используется OR
      parameters:
        - name: id
          in: path
          required: true
          description: IKEA ID категории
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
        - name: min_price
          in: query
          description: |
            Минимальная витринная цена в BYN (>=), та же формула, что в `price_byn` у товара.
            Можно передать только `min_price` (без `max_price`) — «от …».
          schema:
            type: number
        - name: max_price
          in: query
          description: |
            Максимальная витринная цена в BYN (<=), та же формула, что в `price_byn` у товара.
            Можно передать только `max_price` (без `min_price`) — «до …».
          schema:
            type: number
        - name: sort
          in: query
          description: |
            Сортировка товаров:
            - `popular` — популярные (по внутренней логике)
            - `newest` — новинки
            - `cheapest` — сначала более дешёвые
            - `expensive` — сначала более дорогие
          schema:
            type: string
            enum: [popular, newest, cheapest, expensive]
        - name: filters
          in: query
          description: |
            Фильтры по available_filters.
            Формат: filters[PARAMETER][]=VALUE_ID
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                type: string
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: Список товаров категории
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Категория не найдена

  /api/v1/categories/popular:
    get:
      summary: Популярные категории
      tags:
        - Categories
      responses:
        '200':
          description: Список популярных категорий
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryPopular'

  /api/v1/categories/top:
    get:
      summary: ТОП-категории
      tags:
        - Categories
      responses:
        '200':
          description: Список ТОП-категорий
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryTop'

  /api/v1/categories/custom:
    get:
      summary: Кастомные категории (Спецпредложения)
      tags:
        - Categories
      responses:
        '200':
          description: Список кастомных категорий
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  /api/v1/categories/tree:
    get:
      summary: Дерево категорий
      tags:
        - Categories
      responses:
        '200':
          description: Иерархическое дерево категорий
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryTree'

  /api/v1/auth/login:
    post:
      summary: Вход в систему (JWT) — только для персонала
      description: Вход по паролю разрешен только пользователям с ролями admin или manager. Обычные пользователи должны использовать вход по номеру телефона.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  description: Username, Email или Телефон
                password:
                  type: string
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Неверные учетные данные
        '403':
          description: Доступ запрещен (для обычных пользователей)

  /api/v1/auth/phone/check:
    post:
      summary: Проверить, существует ли номер телефона
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone:
                  type: string
                  example: "375291234567"
      responses:
        '200':
          description: Результат проверки номера телефона
          content:
            application/json:
              schema:
                type: object
                properties:
                  phone:
                    type: string
                    example: "375291234567"
                  exists:
                    type: boolean
                    example: true
        '422':
          description: Неверный формат телефона
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Неверный формат телефона

  /api/v1/auth/phone/send:
    post:
      summary: Запросить звонок для подтверждения телефона
      description: Инициирует звонок на указанный номер. Кодом подтверждения являются последние 4 цифры входящего номера.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone:
                  type: string
                  example: "375291234567"
      responses:
        '200':
          description: Звонок инициирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /api/v1/auth/phone/verify:
    post:
      summary: Подтвердить код и войти/зарегистрироваться
      description: Если пользователь с таким телефоном не существует, он будет создан. В этом случае поле username обязательно.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - code
              properties:
                phone:
                  type: string
                code:
                  type: string
                  description: Последние 4 цифры номера входящего звонка
                username:
                  type: string
                  description: Имя пользователя (обязательно при регистрации)
                email:
                  type: string
                  description: Email пользователя (необязательно)
                cart_token:
                  type: string
                  description: Опциональный токен гостевой корзины для привязки к пользователю
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
                  is_new:
                    type: boolean
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
                  is_new:
                    type: boolean
        '401':
          description: Неверный или просроченный код
        '422':
          description: Ошибка валидации (например, не указано имя при регистрации)

  /api/v1/auth/register:
    post:
      summary: Регистрация (Устарело)
      description: Данный метод отключен. Используйте подтверждение по телефону (/api/v1/auth/phone/verify) для регистрации.
      deprecated: true
      tags:
        - Authentication
      responses:
        '405':
          description: Метод не разрешен

  /api/v1/cart:
    get:
      summary: Получить содержимое корзины
      tags:
        - Cart
      parameters:
        - name: cart_token
          in: query
          schema:
            type: string
        - name: promo_code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Данные корзины
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
    delete:
      summary: Полная очистка корзины
      tags:
        - Cart
      parameters:
        - name: cart_token
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Пустая корзина
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'

  /api/v1/cart_items:
    post:
      summary: Добавить товар в корзину
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sku
                - quantity
              properties:
                sku:
                  type: string
                quantity:
                  type: integer
                cart_token:
                  type: string
      responses:
        '200':
          description: Обновленная корзина
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
    delete:
      summary: Массовое удаление товаров из корзины
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skus:
                  type: array
                  items:
                    type: string
                delete_all:
                  type: boolean
                cart_token:
                  type: string
      responses:
        '200':
          description: Обновленная корзина
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'

  /api/v1/cart_items/{sku}:
    patch:
      summary: Изменить количество товара в корзине
      tags:
        - Cart
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quantity
              properties:
                quantity:
                  type: integer
                cart_token:
                  type: string
      responses:
        '200':
          description: Обновленная корзина
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
    delete:
      summary: Удалить один товар из корзины
      tags:
        - Cart
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
        - name: cart_token
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Обновленная корзина
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'

  /api/v1/cart/promo/apply:
    post:
      summary: Применить промокод
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                cart_token:
                  type: string
      responses:
        '200':
          description: Промокод применен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '422':
          description: Неверный промокод

  /api/v1/cart/promo/remove:
    delete:
      summary: Удалить промокод
      tags:
        - Cart
      parameters:
        - name: cart_token
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Промокод удален
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'

  /api/v1/favorites:
    get:
      summary: Получить список избранного
      tags:
        - Favorites
      parameters:
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного (альтернатива query параметру)
          schema:
            type: string
      responses:
        '200':
          description: Данные избранного
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteResponse'
    post:
      summary: Добавить товар в избранное
      tags:
        - Favorites
      parameters:
        - name: X-Favorite-Token
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sku
              properties:
                sku:
                  type: string
                favorite_token:
                  type: string
      responses:
        '200':
          description: Товар добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteResponse'
    delete:
      summary: Полная очистка списка избранного
      tags:
        - Favorites
      parameters:
        - name: favorite_token
          in: query
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Список очищен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteResponse'

  /api/v1/favorites/{sku}:
    delete:
      summary: Удалить товар из избранного
      tags:
        - Favorites
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
        - name: favorite_token
          in: query
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Товар удален
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteResponse'

  /api/v1/checkout:
    post:
      summary: Оформить заказ
      tags:
        - Checkout
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - full_name
                - phone
                - delivery_type
                - payment_method
              properties:
                full_name:
                  type: string
                  example: "Иван Иванов"
                phone:
                  type: string
                  example: "375291234567"
                delivery_type:
                  type: string
                  enum: [pickup, europost_pickup, courier, ikeya_delivery]
                  description: "pickup — deprecated alias, backend нормализует его в europost_pickup."
                  examples:
                    europost_pickup: { value: "europost_pickup" }
                    courier: { value: "courier" }
                    ikeya_delivery: { value: "ikeya_delivery" }
                payment_method:
                  type: string
                  enum: [card, installment, qr, erip, oplati]
                  description: "card (карта онлайн), installment (рассрочка), qr (QR-код), erip (ЕРИП), oplati (Оплати)"
                pickup_point_id:
                  type: integer
                  description: "ID ПВЗ (обязательно для delivery_type=europost_pickup; legacy pickup также поддержан и нормализуется)"
                a1_verification_id:
                  type: string
                  description: "ID верификации A1 (обязательно при изменении паспорта, может быть получено из профиля)"
                address:
                  type: object
                  properties:
                    city:
                      type: string
                    street:
                      type: string
                    house:
                      type: string
                    apartment:
                      type: string
                    is_private_house:
                      type: boolean
                      example: true
                    entrance:
                      type: string
                      nullable: true
                    floor:
                      type: string
                      nullable: true
                    has_elevator:
                      type: boolean
                      nullable: true
                    intercom:
                      type: string
                      nullable: true
                passport:
                  type: object
                  properties:
                    passport_number:
                      type: string
                      example: "MP1234567"
                    full_name:
                      type: string
                    issue_date:
                      type: string
                      format: date
                services:
                  type: array
                  items:
                    type: string
                  example: ["Сборка", "Подъем на этаж"]
      responses:
        '201':
          description: Заказ создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  order_id:
                    type: integer
                  order:
                    $ref: '#/components/schemas/Order'
        '401':
          description: Необходима авторизация
        '422':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                  passport_data:
                    type: object
                  a1_verification_id:
                    type: string
  /api/v1/payment_links/{id}:
    get:
      summary: Перенаправить на Webpay
      description: |
        Валидирует `token` и `payment_expires_at`, затем возвращает HTML-форму, которая сразу POST-ится на `wsb_payment_page`.
        Ссылка действительна 30 минут после создания, далее возвращает `410`.
      tags:
        - Checkout
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTML-форма Webpay, транслирующая пользователя на платёжную страницу
          content:
            text/html:
              schema:
                type: string
                format: html
        '403':
          description: Токен не совпадает
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Заказ не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '410':
          description: Ссылка устарела
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/v1/delivery/types:
    get:
      summary: Получить доступные типы доставки и провайдеров
      tags:
        - Delivery
      responses:
        '200':
          description: Список типов и провайдеров
          content:
            application/json:
              schema:
                type: object
                properties:
                  types:
                    type: array
                    items:
                      type: object
                      properties:
                        key: { type: string }
                        name: { type: string }
                  providers:
                    type: array
                    items: { type: string }

  /api/v1/delivery/europost_offices:
    get:
      summary: Получить список отделений Европочты
      tags:
        - Delivery
      parameters:
        - name: type
          in: query
          required: false
          schema:
            type: integer
            enum: [1, 3, 4]
          description: "Фильтр типа ПВЗ для GET https://api-kassa.evropochta.by/api/external/stores (1 — ОПС, 3 — склад, 4 — ОПС при складе). Нужны EUROPOST_API_TOKEN и корректный EUROPOST_API_BASE_URL (по умолчанию https://api-kassa.evropochta.by)."
        - name: order_id
          in: query
          required: false
          schema:
            type: integer
          description: Черновик checkout — фильтрация по составу заказа.
        - name: cart_token
          in: query
          required: false
          schema:
            type: string
          description: Гостевая/пользовательская корзина.
        - name: items
          in: query
          required: false
          schema:
            type: string
          description: JSON-массив [{sku, quantity}] для subset корзины (вместе с cart_token).
      description: |
        Без order_id / cart_token / items — публичный каталог всех ПВЗ (страница /pvz, карта в ЛК).
        С контекстом корзины или черновика — только подходящие по ВГХ офисы с ценами доставки.
      responses:
        '200':
          description: Список отделений Европочты
          content:
            application/json:
              examples:
                cart_filtered:
                  summary: ПВЗ с ETA/storage/prices
                  value:
                    offices:
                      - id: 10
                        provider: europost
                        external_id: "12345"
                        city: "Минск"
                        address: "пр-т Пушкина, д. 28"
                        working_hours: "Пн-Вс 10:00-21:00"
                        lat: 53.9123
                        lng: 27.4567
                        available_for_cart: true
                        delivery_date: "2026-05-12"
                        storage_until: "2026-05-26"
                        delivery_price_byn: "8.00"
                        delivery_to_belarus_price_byn: "80.00"
                        total_delivery_price_byn: "88.00"
              schema:
                type: object
                properties:
                  offices:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/EuropostOffice'
                        - $ref: '#/components/schemas/EuropostOfficeForCart'

  /api/v1/delivery/calculate:
    post:
      summary: Расчет стоимости и доступности доставки
      tags:
        - Delivery
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: integer
                  description: Черновик checkout (приоритет над cart_token)
                cart_token:
                  type: string
                delivery_type:
                  type: string
                  enum: [pickup, europost_pickup, courier, ikeya_delivery]
                  description: "pickup — deprecated alias, backend нормализует его в europost_pickup."
                  examples:
                    pickup_alias: { value: "pickup" }
                    europost_pickup: { value: "europost_pickup" }
                    courier: { value: "courier" }
                    ikeya_delivery: { value: "ikeya_delivery" }
                pickup_point_id:
                  type: integer
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      sku: { type: string }
                      quantity: { type: integer }
      responses:
        '200':
          description: Результат расчета
          content:
            application/json:
              schema:
                type: object
                properties:
                  basis:
                    type: object
                    properties:
                      total_weight_kg: { type: number }
                      total_volume_m3: { type: number }
                      subtotal_byn: { type: string }
                  delivery:
                    type: object
                    properties:
                      type: { type: string }
                      base_cost_byn: { type: string, description: "Сумма внутренних таблиц PL→BY (PolandDelivery + BelarusDelivery) в BYN." }
                      pricing:
                        type: object
                        description: "Источник цены и разбивка; для europost_pickup сегмент почты может браться из API Европочты."
                        properties:
                          source:
                            type: string
                            enum:
                              - europost_api
                              - internal_weight_tables
                              - internal_ikeya_poland_zero
                              - internal_europost_token_missing
                              - internal_europost_fallback
                          internal:
                            type: object
                            properties:
                              poland_delivery_byn: { type: string }
                              belarus_delivery_byn: { type: string }
                              total_delivery_byn: { type: string }
                          europost:
                            type: object
                            nullable: true
                            properties:
                              success: { type: boolean }
                              reason: { type: string, nullable: true }
                              error: { type: string, nullable: true }
                              postal_total_byn: { type: string, nullable: true }
                              currency: { type: string, nullable: true }
                              request_payload:
                                type: object
                                additionalProperties: true
                                nullable: true
                      free_delivery_eligible: { type: boolean }
                  pickup_point:
                    allOf:
                      - $ref: '#/components/schemas/PickupPoint'
                      - type: object
                        properties:
                          eligible: { type: boolean }
                          reasons:
                            type: array
                            items: { type: string }

  /api/v1/a1/request:
    post:
      summary: Запросить обратный звонок для верификации (A1)
      tags:
        - Verification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone:
                  type: string
                  example: "375291234567"
                context:
                  type: string
                  default: "passport_update"
      responses:
        '201':
          description: Запрос создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  verification_id: { type: integer }
                  display_message: { type: string }
                  caller_number_masked: { type: string }

  /api/v1/a1/verify:
    post:
      summary: Проверить код (последние 4 цифры)
      tags:
        - Verification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - verification_id
                - last4
              properties:
                verification_id: { type: integer }
                last4: { type: string }
      responses:
        '200':
          description: Верификация успешна
        '422':
          description: Неверный код или ошибка

  /api/v1/debug/amo_crm/sync_order/{id}:
    post:
      summary: Принудительная синхронизация заказа с AmoCRM
      tags:
        - AmoCRM Debug
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Заказ синхронизирован
        '422':
          description: Ошибка синхронизации

  /api/v1/debug/amo_crm/sync_user/{id}:
    post:
      summary: Принудительная синхронизация пользователя с AmoCRM
      tags:
        - AmoCRM Debug
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Пользователь синхронизирован
        '422':
          description: Ошибка синхронизации

  /api/v1/debug/amo_crm/exchange_token:
    post:
      summary: Обмен кода авторизации на токены (OAuth2)
      tags:
        - AmoCRM Debug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Код, полученный от AmoCRM после авторизации
      responses:
        '200':
          description: Токены получены
        '422':
          description: Ошибка обмена

  /api/v1/webhooks/amo_crm:
    post:
      summary: Прием вебхуков от AmoCRM
      description: |
        Эндпоинт для настройки в AmoCRM (Настройки -> Хуки).
        Поддерживает события создания/изменения сделок и контактов.
      tags:
        - AmoCRM Webhooks
      responses:
        '200':
          description: Вебхук успешно обработан

  /api/v1/account/orders:
    get:
      summary: Список заказов пользователя
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /api/v1/account/orders/{id}:
    get:
      summary: Детали заказа
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные заказа
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderItem'
  /api/v1/account/orders/{id}/reorder:
    post:
      summary: Повторить заказ (добавить товары в корзину)
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Результат добавления товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  added_skus: { type: array, items: { type: string } }
                  missing_skus: { type: array, items: { type: string } }
                  has_missing: { type: boolean }

  /api/v1/account/delivery_addresses:
    get:
      summary: Список адресов доставки пользователя
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Список адресов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDeliveryAddress'
    post:
      summary: Создать адрес доставки
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDeliveryAddressInput'
      responses:
        '201':
          description: Адрес создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDeliveryAddress'
        '422':
          description: Ошибка валидации

  /api/v1/account/delivery_addresses/{id}:
    patch:
      summary: Обновить адрес доставки
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDeliveryAddressInput'
      responses:
        '200':
          description: Адрес обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDeliveryAddress'
        '404':
          description: Адрес не найден
        '422':
          description: Ошибка валидации
    delete:
      summary: Удалить адрес доставки
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Адрес удален
        '404':
          description: Адрес не найден

  /api/v1/account/pickup_points:
    get:
      summary: Список сохраненных ПВЗ пользователя
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Список ПВЗ
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPickupPoint'
    post:
      summary: Сохранить ПВЗ пользователя
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPickupPointInput'
      responses:
        '201':
          description: ПВЗ сохранен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserPickupPoint'
        '200':
          description: ПВЗ уже был сохранен, данные обновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserPickupPoint'
        '422':
          description: Ошибка валидации

  /api/v1/account/pickup_points/{id}:
    delete:
      summary: Удалить сохраненный ПВЗ
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: ПВЗ удален
        '404':
          description: ПВЗ не найден

  /api/v1/account/profile:
    get:
      summary: Получить профиль пользователя
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Данные профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    patch:
      summary: Обновить профиль пользователя
      description: |
        При изменении паспортных данных (`passport`) обязательны `verification_id` (из `POST /api/v1/a1/request`)
        и `code` (последние 4 цифры входящего номера). Без успешной проверки кода паспорт не сохраняется.
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Профиль обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Неверный или просроченный код подтверждения паспорта
        '422':
          description: Нет кода подтверждения или ошибка валидации паспорта

  /api/v1/account/profile/change_phone_request:
    post:
      summary: Запросить смену номера телефона
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: "375291112233" }
      responses:
        '200':
          description: Код отправлен
        '422':
          description: Ошибка (номер занят или неверный формат)

  /api/v1/account/profile/change_phone_verify:
    post:
      summary: Подтвердить смену номера телефона
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string }
                code: { type: string, description: "Последние 4 цифры входящего номера" }
      responses:
        '200':
          description: Номер изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Неверный код

  /api/v1/account/profile/change_email_verify:
    post:
      summary: Подтвердить смену email
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string }
                code: { type: string, description: "Код из письма (для теста: 1234)" }
      responses:
        '200':
          description: Email изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Неверный код

  /api/v1/account/purchases:
    get:
      summary: Список покупок (товаров из завершенных заказов)
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, oldest, price_asc, price_desc]
        - name: page
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: Список купленных товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  purchases:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseItem'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /api/v1/account/receipts:
    get:
      summary: Список электронных чеков
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Список чеков по заказам
          content:
            application/json:
              schema:
                type: object
                properties:
                  receipts:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderReceipts'

  /api/v1/account/returns:
    post:
      summary: Создание возврата
      tags:
        - Return Requests
      security:
        - bearerAuth: []
      consumes:
        - multipart/form-data
      produces:
        - application/json
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - order_id
                - last_name
                - first_name
                - phone
                - email
                - reason
                - compensation_type
              properties:
                order_id:
                  type: string
                  description: Номер заказа, 6–10 цифр
                  example: "4940891"
                last_name:
                  type: string
                  example: "Тест"
                first_name:
                  type: string
                  example: "Тест"
                patronymic:
                  type: string
                  nullable: true
                  example: "Тестович"
                phone:
                  type: string
                  example: "+375259340284"
                email:
                  type: string
                  format: email
                  example: "dsuschinsky@gmail.com"
                reason:
                  type: string
                  enum: [damaged, wrong, quality, description, other]
                  example: "wrong"
                  description: Причина возврата
                comment:
                  type: string
                  nullable: true
                  example: "текст комментария"
                  description: Только комментарий клиента
                compensation_type:
                  type: string
                  enum: [refund, exchange]
                  example: "exchange"
                attachments[]:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Фото до 5 файлов (.avif, .heic, .heif, .webp, .jpeg, .png)
      responses:
        '201':
          description: Возврат создан
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден
        '422':
          description: Ошибка валидации

  /api/v1/cooperation_requests:
    post:
      summary: Отправить заявку на сотрудничество
      description: |
        Публичная форма «Сотрудничество» (без JWT). Создаёт заявку в базе и ставит фоновую задачу синхронизации с AmoCRM.

        **Обязательные поля:** `first_name`, `last_name`, `email`, `phone`, `city`, `cooperation_type`, `comment`, `personal_data_consent`.
        Поля `company` и `marketing_email_consent` — опциональные.

        **Важно:** ответ `201` подтверждает сохранение заявки в приложении; доставка в CRM выполняется асинхронно (по очереди).
      tags:
        - Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CooperationRequestCreatePayload'
      responses:
        '201':
          description: Заявка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CooperationRequestCreateResponse'
        '422':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'

  /api/v1/homepage/slider/main:
    get:
      summary: Баннеры основной секции главной страницы
      description: |
        Возвращает активные баннеры секции "Главный баннер" для главной страницы.
        Баннеры фильтруются по активному статусу (active = true) и отсортированы по позиции.
        Доступные варианты размеров: 1500×516, 572×594
      tags:
        - Homepage
      responses:
        '200':
          description: Список активных баннеров основной секции
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HomeBanner'
                  meta:
                    type: object
                    properties:
                      seo:
                        $ref: '#/components/schemas/SeoMeta'
        '500':
          description: Внутренняя ошибка сервера

  /api/v1/homepage/slider/banners:
    get:
      summary: Горизонтальынй баннер дополнительной секции главной страницы
      description: |
        Возвращает активные Горизонтальынй баннер секции "Баннеры" для главной страницы.
        Горизонтальынй баннер фильтруются по активному статусу (active = true) и отсортированы по позиции.
        Доступные варианты размеров: 1500×256, 742×256
      tags:
        - Homepage
      responses:
        '200':
          description: Список активных баннеров дополнительной секции
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HomeBanner'
        '500':
          description: Внутренняя ошибка сервера


  /api/v1/homepage/recommendations:
    get:
      summary: Рекомендации товаров для главной страницы
      description: |
        Возвращает список товаров, настроенных в админке для блока рекомендаций на главной странице.
        Источник рекомендаций определяется настройкой `homepage` и может быть задан:
        - списком SKU в нужном порядке;
        - категорией товаров.

        Если источник задан через SKU, порядок товаров сохраняется таким, как он указан в настройке.
        Если источник задан через категорию, товары выбираются из указанной категории и сортируются по имени.
        Параметр `per_page` ограничивает количество возвращаемых товаров.
      tags:
        - Homepage
      parameters:
        - name: per_page
          in: query
          description: Количество товаров в ответе. По умолчанию 8, допустимый диапазон от 1 до 24.
          schema:
            type: integer
            default: 8
            minimum: 1
            maximum: 24
      responses:
        '200':
          description: Список товаров для блока рекомендаций главной страницы
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTeaser'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 8
                      placement:
                        type: string
                        example: homepage
        '500':
          description: Внутренняя ошибка сервера

  /api/v1/search/autocomplete:
    get:
      summary: Лёгкий autocomplete для поисковой строки
      description: >
        Быстрый endpoint для dropdown-подсказок. Не возвращает фильтры, пагинацию,
        полные карточки товаров, пошлины и промо. Для полной страницы результатов
        используйте /api/v1/search/suggest.
      tags:
        - Search
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Строка поиска. До 2 символов backend возвращает пустые массивы.
      responses:
        '200':
          description: Короткие подсказки, категории и товары для dropdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAutocompleteResponse'

  /api/v1/search/suggest:
    get:
      summary: Полная поисковая выдача с фильтрами и пагинацией
      tags:
        - Search
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: favorite_token
          in: query
          description: Токен гостевого списка избранного
          schema:
            type: string
        - name: X-Favorite-Token
          in: header
          description: Токен гостевого списка избранного
          schema:
            type: string
      responses:
        '200':
          description: 'Полная выдача поиска: подсказки, категории, товары, фильтры, популярные запросы и meta'
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      type: string
                  categories:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'
                  products:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
                  popular_queries:
                    type: array
                    items:
                      $ref: '#/components/schemas/PopularSearchQuery'

  /api/v1/content/articles:
    get:
      summary: Список статей Tips & Ideas и News
      tags:
        - Content
      parameters:
        - name: content_type
          in: query
          schema:
            type: string
            enum: [tips_ideas, news]
          description: Тип контента, по умолчанию возвращаются оба
        - name: rubric
          in: query
          schema:
            type: string
          description: Фильтр по рубрике
        - name: component
          in: query
          schema:
            type: string
          description: Фильтр по компоненту
        - name: project
          in: query
          schema:
            type: string
          description: Фильтр по проекту
        - name: pinned_only
          in: query
          schema:
            type: boolean
          description: Отображать только закрепленные статьи
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Пагинируемый список активных и опубликованных статей
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentArticle'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /api/v1/content/articles/{slug}:
    get:
      summary: Подробная статья по slug
      tags:
        - Content
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Полный контент статьи
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ContentArticle'
        '404':
          description: Статья не найдена

  /api/v1/content/legal_pages:
    get:
      summary: Список опубликованных правовых страниц
      description: |
        Возвращает только страницы со статусом «Опубликовано», отсортированные по **id** (порядок создания записей).
        Черновики и страницы со статусом «Выключено» в API не отдаются.
      tags:
        - Content
      responses:
        '200':
          description: Список правовых страниц (формат JSON:API)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LegalPage'

  /api/v1/content/legal_pages/{slug}:
    get:
      summary: Правовая страница по slug
      description: |
        Полные данные страницы, включая HTML-текст в **body**.
        Доступна только **опубликованная** страница; черновик или выключенная запись — ответ 404.
      tags:
        - Content
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: ЧПУ страницы (латиница), например `personal-data-consent-ikeya-by`
      responses:
        '200':
          description: Правовая страница с телом документа
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalPage'
        '404':
          description: Страница не найдена или недоступна (не опубликована)


  /api/v1/account/reviews/available:
    get:
      summary: Товары, доступные для отзыва
      tags:
        - Reviews
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Список SKU, названий и изображений для доступных товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                        name:
                          type: string
                        images:
                          type: array
                          items:
                            type: string
                        local_images:
                          type: array
                          items:
                            type: string

  /api/v1/account/reviews:
    get:
      summary: Отзывы пользователя
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, published, rejected, hidden]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Пагинируемый список отзывов пользователя
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /api/v1/products/{product_sku}/reviews:
    get:
      summary: Список опубликованных отзывов товара
      description: |
        Публичный эндпоинт для вкладки отзывов в карточке товара.
        Возвращает список отзывов с пагинацией, агрегаты рейтинга (как на карточке товара),
        распределение оценок и общую ленту фото из отзывов.
      tags:
        - Reviews
      parameters:
        - name: product_sku
          in: path
          required: true
          schema:
            type: string
          description: SKU товара (как в URL карточки)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: rating
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
          description: Фильтр по оценке
        - name: with_photo
          in: query
          schema:
            type: boolean
          description: Только отзывы с фотографиями
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, oldest, rating_high, rating_low, helpful]
            default: newest
          description: Сортировка (закреплённые отзывы всегда выше)
      responses:
        '200':
          description: Список отзывов и агрегаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReviewsIndexResponse'
        '404':
          description: Товар не найден
    post:
      summary: Создать отзыв на купленный товар
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: product_sku
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReviewInput'
      responses:
        '201':
          description: Отзыв отправлен на модерацию
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '422':
          description: Ошибка валидации (например, товар не куплен или рейтинг вне диапазона)

  /api/v1/reviews/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    patch:
      summary: Обновить отзыв до модерации
      tags:
        - Reviews
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReviewUpdateInput'
      responses:
        '200':
          description: Отзыв отредактирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '422':
          description: Редактирование после модерации недоступно
    delete:
      summary: Удалить отзыв (soft delete после публикации)
      tags:
        - Reviews
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Отзыв скрыт или удалён

  /api/v1/reviews/{id}/helpful:
    post:
      summary: Поставить полезность опубликованному отзыву
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Количество голосов "полезно"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewHelpfulResponse'
        '404':
          description: Отзыв не найден или не опубликован
    delete:
      summary: Убрать полезность отзыва
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Голос удалён

  /reviews/export:
    get:
      summary: Экспорт отзывов (CSV/JSON)
      tags:
        - Reviews
      security:
        - BearerAuth: []
      description: |
        Доступны форматы CSV и JSON. JSON отдаёт массив объектов, CSV содержит перечисленные поля в шапке.
      responses:
        '200':
          description: Экспортированные отзывы
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewExportEntry'
        '403':
          description: Недостаточно прав (только для админов)

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            sku:
              type: string
            unique_id:
              type: integer
            item_no:
              type: string
            url:
              type: string
            name:
              type: string
            name_ru:
              type: string
            collection:
              type: string
            price:
              type: number
            quantity:
              type: integer
            weight:
              type: number
            net_weight:
              type: number
            package_volume:
              type: number
            package_dimensions:
              type: string
            dimensions:
              type: string
            is_parcel:
              type: boolean
            is_bestseller:
              type: boolean
            is_new:
              type: boolean
            is_recommended:
              type: boolean
            is_popular:
              type: boolean
            category_id:
              type: string
            delivery_type:
              type: string
            delivery_name:
              type: string
            delivery_cost:
              type: number
            delivery_reason:
              type: string
            breadcrumbs:
              type: array
              description: Сформированные на основе primary_category цепочки для детального представления
              items:
                $ref: '#/components/schemas/Breadcrumb'
            variants:
              type: array
              items:
                type: string
            images:
              type: array
              items:
                type: string
            local_images:
              type: array
              items:
                type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            rating_avg:
              type: number
              format: float
              description: Средний рейтинг товара
            rating_weighted:
              type: number
              format: float
              description: Взвешенный рейтинг товара (с учетом полезности отзывов)
            rating_count:
              type: integer
              description: Общее количество опубликованных отзывов
            display_blocks:
              type: object
              description: Настройки отображения функциональных блоков в карточке товара
              properties:
                delivery:
                  type: boolean
                  description: Показывать блок доставки
                reviews:
                  type: boolean
                  description: Показывать блок отзывов
                tips:
                  type: boolean
                  description: Показывать блок советов
                is_bulky:
                  type: boolean
                  description: Является ли товар крупногабаритным
                delivery_info:
                  type: string
                  nullable: true
                  description: Дополнительная информация о доставке (например, для не крупногабаритных товаров)
            seo:
              $ref: '#/components/schemas/SeoMeta'

    ProductTeaser:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            sku:
              type: string
            name_ru:
              type: string
            slug:
              type: string
            price:
              type: number
            quantity:
              type: integer
            is_bestseller:
              type: boolean
            is_new:
              type: boolean
            is_recommended:
              type: boolean
            is_popular:
              type: boolean
            category_id:
              type: string
            rating_avg:
              type: number
              format: float
            rating_weighted:
              type: number
              format: float
            rating_count:
              type: integer
            rating_updated_at:
              type: string
              format: date-time
            local_images:
              type: array
              items:
                type: string
            variants:
              type: array
              items:
                type: string

    Breadcrumb:
      type: object
      properties:
        title:
          type: string
        url:
          type: string

    Category:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            ikea_id:
              type: string
            unique_id:
              type: integer
            name:
              type: string
            translated_name:
              type: string
            slug:
              type: string
            url:
              type: string
            remote_image_url:
              type: string
            local_image_path:
              type: string
            is_deleted:
              type: boolean
            is_important:
              type: boolean
            is_popular:
              type: boolean
            is_top:
              type: boolean
            top_position:
              type: integer
            is_custom:
              type: boolean
            background_image_url:
              type: string
              nullable: true
              description: URL фонового изображения для превью спецпредложения
            is_bulky:
              type: boolean
              description: Флаг крупногабаритного товара
            show_delivery_block:
              type: boolean
              description: Флаг отображения блока доставки
            show_reviews_block:
              type: boolean
              description: Флаг отображения блока отзывов
            show_tips_block:
              type: boolean
              description: Флаг отображения блока советов
            icon_url:
              type: string
              description: URL иконки категории
            header_menu:
              type: boolean
            header_menu_position:
              type: integer
            parent_ids:
              type: array
              items:
                type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            seo:
              $ref: '#/components/schemas/SeoMeta'

    CategoryPopular:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            translated_name:
              type: string
            slug:
              type: string
            is_popular:
              type: boolean
            icon_url:
              type: string
              nullable: true

    CategoryTop:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            translated_name:
              type: string
            slug:
              type: string
            is_top:
              type: boolean
            top_position:
              type: integer
            icon_url:
              type: string
              nullable: true

    CategoryTree:
      allOf:
        - $ref: '#/components/schemas/Category'
        - type: object
          properties:
            children:
              type: array
              items:
                $ref: '#/components/schemas/CategoryTree'

    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [user, admin]

    UserProfile:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        middle_name: { type: string }
        email: { type: string }
        phone: { type: string }
        country_code: { type: string, enum: [RB, РФ, РК] }
        dob: { type: string, format: date, description: "Дата рождения" }
        gender: { type: string, description: "Пол" }
        address: { type: string, description: "Адрес доставки" }
        region: { type: string }
        city: { type: string }
        postcode: { type: string }
        street: { type: string }
        house: { type: string }
        building: { type: string }
        apartment: { type: string }
        telegram_marketing: { type: boolean, description: "Подписка на рассылку в Telegram" }
        email_marketing: { type: boolean, description: "Подписка на рассылку по Email" }
        gdpr_consent: { type: boolean }
        newsletter_consent: { type: boolean }
        passport_verified: { type: boolean }
        passport_data:
          $ref: '#/components/schemas/PassportData'
        a1_verification_id: { type: string }

    UserProfileUpdate:
      type: object
      properties:
        username: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        middle_name: { type: string }
        email: { type: string }
        phone: { type: string }
        country_code: { type: string, enum: [RB, РФ, РК] }
        dob: { type: string, format: date }
        gender: { type: string }
        address: { type: string }
        region: { type: string }
        city: { type: string }
        postcode: { type: string }
        street: { type: string }
        house: { type: string }
        building: { type: string }
        apartment: { type: string }
        telegram_marketing: { type: boolean }
        email_marketing: { type: boolean }
        gdpr_consent: { type: boolean }
        newsletter_consent: { type: boolean }
        passport:
          $ref: '#/components/schemas/PassportData'
        verification_id:
          type: integer
          description: ID из ответа POST /api/v1/a1/request (алиас a1_verification_id)
        a1_verification_id:
          type: integer
          description: Синоним verification_id
        code:
          type: string
          description: Последние 4 цифры входящего номера (алиас last4)

    UserDeliveryAddress:
      type: object
      properties:
        id: { type: string }
        type: { type: string, example: "user_delivery_address" }
        attributes:
          type: object
          properties:
            id: { type: integer }
            city: { type: string }
            street: { type: string }
            house: { type: string }
            building: { type: string, nullable: true }
            apartment: { type: string, nullable: true }
            entrance: { type: string, nullable: true }
            floor: { type: string, nullable: true }
            has_elevator: { type: boolean, nullable: true }
            intercom: { type: string, nullable: true }
            is_private_house: { type: boolean }
            lat: { type: number, nullable: true }
            lng: { type: number, nullable: true }
            comment: { type: string, nullable: true }
            formatted_address: { type: string }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }

    UserDeliveryAddressInput:
      type: object
      required: [city, street, house]
      properties:
        city: { type: string }
        street: { type: string }
        house: { type: string }
        building: { type: string }
        apartment: { type: string }
        entrance: { type: string }
        floor: { type: string }
        has_elevator: { type: boolean }
        intercom: { type: string }
        is_private_house: { type: boolean }
        lat: { type: number }
        lng: { type: number }
        comment: { type: string }

    UserPickupPoint:
      type: object
      properties:
        id: { type: string }
        type: { type: string, example: "user_pickup_point" }
        attributes:
          type: object
          properties:
            id: { type: integer }
            pickup_point_id: { type: integer, nullable: true }
            provider: { type: string, enum: [europost] }
            external_id: { type: string }
            city: { type: string, nullable: true }
            address: { type: string, nullable: true }
            working_hours: { type: string, nullable: true }
            lat: { type: number, nullable: true }
            lng: { type: number, nullable: true }
            raw_payload: { type: object }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }

    UserPickupPointInput:
      type: object
      required: [provider, external_id]
      properties:
        pickup_point_id: { type: integer, nullable: true }
        provider: { type: string, enum: [europost] }
        external_id: { type: string }
        city: { type: string }
        address: { type: string }
        working_hours: { type: string }
        lat: { type: number }
        lng: { type: number }
        raw_payload: { type: object }

    PassportData:
      type: object
      properties:
        first_name: { type: string }
        last_name: { type: string }
        middle_name: { type: string }
        series: { type: string, description: "Серия паспорта" }
        number: { type: string, description: "Номер паспорта" }
        issue_date: { type: string, format: date }
        issued_by: { type: string, description: "Кем выдан" }
        identification_number: { type: string, description: "Идентификационный номер" }
        dob: { type: string, format: date, description: "Дата рождения" }
        region: { type: string }
        city: { type: string }
        postcode: { type: string }
        street: { type: string }
        house: { type: string }
        building: { type: string }
        apartment: { type: string }

    PurchaseItem:
      type: object
      properties:
        order_id: { type: integer }
        status: { type: string }
        purchased_at: { type: string, format: date-time }
        product_sku: { type: string }
        quantity: { type: integer }
        price_byn: { type: string }
        product:
          $ref: '#/components/schemas/CartProductPayload'

    OrderReceipts:
      type: object
      properties:
        order_id: { type: integer }
        purchased_at: { type: string, format: date-time }
        receipts:
          type: array
          items:
            type: object
            properties:
              filename: { type: string }
              url: { type: string }

    ErrorMessage:
      type: object
      description: Типичный ответ при ошибке аутентификации или «не найдено»
      properties:
        error:
          type: string
          example: Не авторизован

    ValidationErrors:
      type: object
      description: |
        Ответ при ошибке валидации ActiveRecord (формат может различаться по окружению).
        Часто содержит ключ `errors` с деталями по полям.
      additionalProperties: true

    ReturnRequest:
      type: object
      description: Заявка на возврат (форма личного кабинета)
      properties:
        id:
          type: integer
          description: Внутренний идентификатор заявки
        order_id:
          type: integer
          description: Заказ, по которому оформлен возврат
        status:
          type: string
          enum: [new, in_review, approved, rejected, completed]
          description: Статус обработки заявки
        reason:
          type: string
          description: Указанная пользователем причина возврата
        comment:
          type: string
          nullable: true
          description: Дополнительный комментарий
        created_at:
          type: string
          format: date-time
          description: Время создания заявки (ISO 8601)
        attachments_count:
          type: integer
          minimum: 0
          description: Количество прикреплённых файлов

    ReturnRequestListMeta:
      type: object
      properties:
        total:
          type: integer
          description: Общее число заявок пользователя
        page:
          type: integer
          description: Текущая страница
        per_page:
          type: integer
          description: Размер страницы

    ReturnRequestsListResponse:
      type: object
      required: [returns, meta]
      properties:
        returns:
          type: array
          items:
            $ref: '#/components/schemas/ReturnRequest'
        meta:
          $ref: '#/components/schemas/ReturnRequestListMeta'

    ReturnRequestCreateResponse:
      type: object
      required: [return_request]
      properties:
        return_request:
          $ref: '#/components/schemas/ReturnRequest'

    CooperationRequest:
      type: object
      description: Заявка с публичной формы сотрудничества
      properties:
        id: { type: integer }
        first_name: { type: string }
        last_name: { type: string }
        phone: { type: string }
        email: { type: string }
        company: { type: string, nullable: true }
        city: { type: string }
        cooperation_type: { type: string }
        comment: { type: string }
        personal_data_consent: { type: boolean }
        marketing_email_consent: { type: boolean }
        status:
          type: string
          enum: [new, in_review, contacted, closed, rejected]
        created_at:
          type: string
          format: date-time

    CooperationRequestCreatePayload:
      type: object
      required: [first_name, last_name, email, phone, city, cooperation_type, comment, personal_data_consent]
      properties:
        first_name: { type: string, description: "Имя" }
        last_name: { type: string, description: "Фамилия" }
        email: { type: string, description: "Email" }
        phone: { type: string, description: "Телефон" }
        city: { type: string, description: "Город" }
        cooperation_type: { type: string, description: "Тип сотрудничества (например, Частный дизайнер)" }
        comment: { type: string, description: "Комментарий" }
        company: { type: string, nullable: true, description: "Компания (если есть)" }
        personal_data_consent: { type: boolean, description: "Согласие с политикой обработки персональных данных" }
        marketing_email_consent: { type: boolean, description: "Согласие на email-уведомления по условиям сотрудничества" }

    CooperationRequestCreateResponse:
      type: object
      required: [cooperation_request]
      properties:
        cooperation_request:
          $ref: '#/components/schemas/CooperationRequest'

    Meta:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        per_page:
          type: integer
        total_pages:
          type: integer

    SearchAutocompleteResponse:
      type: object
      properties:
        query:
          type: string
          example: шкафы
        normalized_query:
          type: string
          example: шкафы
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/SearchAutocompleteSuggestion'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/SearchAutocompleteCategory'
        products:
          type: array
          items:
            $ref: '#/components/schemas/SearchAutocompleteProduct'

    SearchAutocompleteSuggestion:
      type: object
      properties:
        title:
          type: string
          example: Шкафы для одежды
        query:
          type: string
          example: шкафы для одежды

    SearchAutocompleteCategory:
      type: object
      properties:
        id:
          type: string
          example: '700630'
        title:
          type: string
          example: Гардеробы
        slug:
          type: string
          example: garderoby
        url:
          type: string
          example: /catalog/garderoby/
        local_image_path:
          type: string
          nullable: true

    SearchAutocompleteProduct:
      type: object
      properties:
        sku:
          type: string
          example: '39491276'
        slug:
          type: string
          example: pax
        url:
          type: string
          example: /product/pax-39491276/
        name_ru:
          type: string
          example: PAX
        small_desc_name:
          type: string
          example: Гардероб, комбинация, белый
        title:
          type: string
          example: PAX Гардероб, комбинация, белый
        category_title:
          type: string
          nullable: true
          example: Гардеробы
        category_url:
          type: string
          nullable: true
          example: /catalog/garderoby/
        preview_image:
          type: string
          nullable: true
          example: /images/products/aa/bb/example.webp

    PopularSearchQuery:
      type: object
      properties:
        query:
          type: string
        weight:
          type: integer
        active:
          type: boolean

    LegalPage:
      type: object
      description: Элемент ответа Fast JSON API для правовой страницы
      properties:
        id:
          type: string
          description: В JSON:API совпадает со значением slug
        type:
          type: string
          example: legal_page
        attributes:
[...]
