[Unit]
Description=IKEA API Puma Server
After=network.target postgresql.service redis-server.service

[Service]
Type=simple
User=deploy
Group=deploy
WorkingDirectory=/home/deploy/apps/ikea_back/current
Environment="RAILS_ENV=production"
Environment="ASDF_DATA_DIR=/home/deploy/.asdf"
Environment="PATH=/home/deploy/.asdf/shims:/home/deploy/.asdf/bin:/usr/local/bin:/usr/bin:/bin"
EnvironmentFile=/home/deploy/apps/ikea_back/shared/.env

# Puma будет использовать конфигурацию из config/puma.rb
ExecStart=/bin/bash -lc 'source $HOME/.asdf/asdf.sh && source /home/deploy/apps/ikea_back/shared/.env && cd /home/deploy/apps/ikea_back/current && export PUMA_BIND="tcp://0.0.0.0:3001" && bundle exec puma -C config/puma.rb'
ExecReload=/bin/kill -USR1 $MAINPID

# Restart policy
Restart=always
RestartSec=10

# Logging
StandardOutput=append:/home/deploy/apps/ikea_back/shared/log/production.log
StandardError=append:/home/deploy/apps/ikea_back/shared/log/production.log
SyslogIdentifier=ikea_api_puma

[Install]
WantedBy=multi-user.target

